# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# System files and IDE settings folders
.DS_Store
.idea
.vscode

# Personal notes and guides
THUNDER_CLIENT_GUIDE.md

# Environment variables
.env
.env.local